<!-- Top background container -->
<div class="dv-lvl-0 background-container gallery">

    <div #darkOverlayUpperGap class="dv-lvl-1 main-container dark-overlay-upper-gap"></div>

    <!-- Fix width container -->
    <div #mainContainer class="dv-lvl-1 main-container">

        <!-- Dark layer on pop up for background -->
        <div #darkOverlay class="dv-lvl-2 main-container dark-overlay"></div>

        <!-- Gallery container -->
        <div class="dv-lvl-2 gallery-main-container">

            <div #zoomedImageContainer class="dv-lvl-3 hidden-zoomed-image-container">
                <img #zoomedImage src="" alt="bass-photo-1" class="img-lvl-4 image-zommed-panel">
                <div class="dv-lvl-4 cross-box-container">
                    <div class="dv-lvl-5 cross-box" (click)="closeImageOnCrossClick()">
                        X
                    </div>
                </div>
            </div>

            <div class="dv-lvl-3 gallery-sign">
                <div class="dv-lvl-4 sign-index-container"><span class="sp-lvl-5 sign-index">2</span></div>
                <p class="par-lvl-4 sign-letters">GALLERY</p>
            </div>

            <!-- Photo section -->
            <div class="dv-lvl-3 gallery-container">
                <div class="dv-lvl-4 gallery-row">
                    <div class="dv-lvl-5 gallery-column">
                        <div *ngFor="let index of getImageSetOne()" class="dv-lvl-5 img-box">
                            <img src="{{ imageSetOne[index] }}" alt="bass-photo-{{ index }}" class="img-lvl-6 gallery-image" />
                            <div class="dv-lvl-6 img-hover-cover" (click)="show(imageSetOne[index])"></div>
                        </div>
                    </div>
                    <div class="dv-lvl-5 gallery-column">
                        <div *ngFor="let index of getImageSetTwo()" class="dv-lvl-5 img-box">
                            <img src="{{ imageSetTwo[index] }}" alt="bass-photo-{{ index }}" class="img-lvl-6 gallery-image">
                            <div class="dv-lvl-6 img-hover-cover" (click)="show(imageSetTwo[index])"></div>
                        </div>
                    </div>
                    <div class="dv-lvl-5 gallery-column">
                        <div *ngFor="let index of getImageSetThree()" class="dv-lvl-5 img-box">
                            <img src="{{ imageSetThree[index] }}" alt="bass-photo-{{ index }}" class="img-lvl-6 gallery-image">
                            <div class="dv-lvl-6 img-hover-cover" (click)="show(imageSetThree[index])"></div>
                        </div>
                    </div>
                    <div class="dv-lvl-5 gallery-column">
                        <div *ngFor="let index of getImageSetFour()" class="dv-lvl-5 img-box">
                            <img src="{{ imageSetFour[index] }}" alt="bass-photo-{{ index }}" class="img-lvl-6 gallery-image">
                            <div class="dv-lvl-6 img-hover-cover" (click)="show(imageSetFour[index])"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>