<!-- Top background container -->
<div class="dv-lvl-0 background-container gallery">

    <!-- Fix width container -->
    <div class="dv-lvl-1 main-container">

        <!-- Gallery container -->
        <div class="dv-lvl-2 gallery-main-container">

            <div class="dv-lvl-3 gallery-sign">
                <div class="dv-lvl-4 sign-index-container"><span class="sp-lvl-5 sign-index">2</span></div>
                <p class="par-lvl-4 sign-letters">GALLERY</p>
            </div>

            <!-- Photo section -->
            <div class="dv-lvl-3 gallery-container">
                <div class="dv-lvl-4 gallery-row">
                    <div class="dv-lvl-5 gallery-column">
                        <div class="dv-lvl-5 img-box">
                            <img src="/assets/imgs/img-1.jpg" alt="bass-photo-1" class="img-lvl-6 gallery-image">
                            <div class="dv-lvl-6 img-hover-cover"></div>
                        </div>
                        <div class="dv-lvl-5 img-box">
                            <img src="/assets/imgs/img-2.jpg" alt="bass-photo-2" class="img-lvl-6 gallery-image">
                            <div class="dv-lvl-6 img-hover-cover"></div>
                        </div>
                        <div class="dv-lvl-5 img-box">
                            <img src="/assets/imgs/img-15.jpg" alt="bass-photo-4" class="img-lvl-6 gallery-image">
                            <div class="dv-lvl-6 img-hover-cover"></div>
                        </div>
                    </div>
                    <div class="dv-lvl-5 gallery-column">
                        <div class="dv-lvl-5 img-box">
                            <img src="/assets/imgs/img-5.jpg" alt="bass-photo-5" class="img-lvl-6 gallery-image">
                            <div class="dv-lvl-6 img-hover-cover"></div>
                        </div>
                        <div class="dv-lvl-5 img-box">
                            <img src="/assets/imgs/img-6.jpg" alt="bass-photo-6" class="img-lvl-6 gallery-image">
                            <div class="dv-lvl-6 img-hover-cover"></div>
                        </div>
                        <div class="dv-lvl-5 img-box">
                            <img src="/assets/imgs/img-7.jpg" alt="bass-photo-7" class="img-lvl-6 gallery-image">
                            <div class="dv-lvl-6 img-hover-cover"></div>
                        </div>
                        <div class="dv-lvl-5 img-box">
                            <img src="/assets/imgs/img-12.jpg" alt="bass-photo-8" class="img-lvl-6 gallery-image">
                            <div class="dv-lvl-6 img-hover-cover"></div>
                        </div>
                    </div>
                    <div class="dv-lvl-5 gallery-column">
                        <div class="dv-lvl-5 img-box">
                            <img src="/assets/imgs/img-9.jpg" alt="bass-photo-9" class="img-lvl-6 gallery-image">
                            <div class="dv-lvl-6 img-hover-cover"></div>
                        </div>
                        <div class="dv-lvl-5 img-box">
                            <img src="/assets/imgs/img-10.jpg" alt="bass-photo-10" class="img-lvl-6 gallery-image">
                            <div class="dv-lvl-6 img-hover-cover"></div>
                        </div>
                        <div class="dv-lvl-5 img-box">
                            <img src="/assets/imgs/img-11.jpg" alt="bass-photo-11" class="img-lvl-6 gallery-image">
                            <div class="dv-lvl-6 img-hover-cover"></div>
                        </div>
                        <div class="dv-lvl-5 img-box">
                            <img src="/assets/imgs/img-8.jpg" alt="bass-photo-12" class="img-lvl-6 gallery-image">
                            <div class="dv-lvl-6 img-hover-cover"></div>
                        </div>
                    </div>
                    <div class="dv-lvl-5 gallery-column">
                        <div class="dv-lvl-5 img-box">
                            <img src="/assets/imgs/img-13.jpg" alt="bass-photo-13" class="img-lvl-6 gallery-image">
                            <div class="dv-lvl-6 img-hover-cover"></div>
                        </div>
                        <div class="dv-lvl-5 img-box">
                            <img src="/assets/imgs/img-14.jpg" alt="bass-photo-14" class="img-lvl-6 gallery-image">
                            <div class="dv-lvl-6 img-hover-cover"></div>
                        </div>
                        <div class="dv-lvl-5 img-box">
                            <img src="/assets/imgs/img-4.jpg" alt="bass-photo-15" class="img-lvl-6 gallery-image">
                            <div class="dv-lvl-6 img-hover-cover"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>