<!-- Top background container -->
<div class="dv-lvl-0 background-container home">

    <!-- Fix width container -->
    <div class="dv-lvl-1 main-container">

        <!-- Blur layer -->
        <div class="dv-lvl-2 blur-layer">

            <p class="par-lvl-3 bass-paragraph">BASS</p>

            <p class="par-lvl-3 seismic-paragraph">SEISMIC</p>

            <!-- Card -->
            <div class="dv-lvl-2 presentation-card">
                <div class="dv-lvl-3 card-index">
                    <div class="dv-lvl-4 card-index-number">1</div>
                </div>
                <div class="dv-lvl-3 card-content">
                    <h1 class="he-lvl-4 card-header">A revolutionary artist</h1>
                    <p class="par-lvl-4 card-text">
                        With the artistic name of Bass Seismic, a new sound has been freshly introduced in the Malaga electronic music scene. He is remarkably known for his works as a producer, developing and creating several tracks for plenty of artists, occupying a wide range
                        of music genres. This is the start of a promise and he has come for more.
                    </p>
                </div>
            </div>

        </div>

        <app-home-footer></app-home-footer>

    </div>

</div>