<!-- Footer container -->
<div class="dv-lvl-2 footer-container">

    <!-- Photo square signs - left side -->
    <div class="dv-lvl-3 corner-square-border left"></div>
    <div class="dv-lvl-3 corner-square-sign left">BASS</div>

    <!-- Photo corner square -->
    <div class="dv-lvl-3 corner-square-img"></div>

    <!-- Photo square signs - upper -->
    <div class="dv-lvl-3 corner-square-border top"></div>
    <div class="dv-lvl-3 corner-square-sign top">SEISMIC</div>

    <!-- Switch section buttons -->
    <div class="dv-lvl-2 switch-section-buttons">

        <div class="dv-lvl-3 button-left">
            <a [routerLink]="['/contact']">
                <i class="fas fa-chevron-left"></i>
            </a>
        </div>
        <div class="dv-lvl-3 button-right">
            <a [routerLink]="['/gallery']">
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>

    </div>

</div>