@use 'src/styles.scss';

:host {
    --fixed-border-decorator-width: 1px;
    --fixed-border-decorator-height: 1px;
    --button-background-color: rgba(230, 230, 230, .5);
    --button-box-shadow: 0 0 8px -2px #ceb40e;
    --main-footer-font-size: 1.3em;
}

@mixin border-decorator-fixed-values() {
    text-align: center;
    letter-spacing: 7px;
    font-size: .9em;
    color: var(--regular-white-color);
}

@mixin decorator-image() {
    background: url('/assets/imgs/smile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 5px solid #fff;
}

div.dv-lvl-2.footer-container {
    width: var(--fixed-overall-width);

    div.dv-lvl-3.corner-square-border.top {
        position: absolute;
        right: 30px;
        bottom: 140px;
        height: 100px;
        width: var(--fixed-border-decorator-width);
        background: var(--regular-white-background);
    }

    div.dv-lvl-3.corner-square-border.left {
        position: absolute;
        right: 150px;
        bottom: 20px;
        width: 100px;
        width: var(--fixed-border-decorator-width);
        background: var(--regular-white-background);
    }

    div.dv-lvl-3.corner-square-sign.top {
        @include border-decorator-fixed-values();
        position: absolute;
        right: -16.5px;
        bottom: 189px;
        height: 10px;
        width: 100px;
        transform: rotate(270deg);
    }

    div.dv-lvl-3.corner-square-sign.left {
        @include border-decorator-fixed-values();
        position: absolute;
        height: 10px;
        width: 100px;
        right: 150px;
        bottom: 20px;
    }
    
    div.dv-lvl-3.corner-square-img {
        @include decorator-image();
        position: absolute;
        bottom: 20px;
        right: 30px;
        width: 100px;
        height: 100px;
        box-sizing: var(--regular-box-sizing);
    }

    div.dv-lvl-2.switch-section-buttons {
        @include styles.flex-center-justify-and-align();
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        width: 200px;
        margin-bottom: 1.3em;

        div.dv-lvl-3.button-left,
        div.dv-lvl-3.button-right {
            @include styles.flex-center-justify-and-align();
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin: .5em;
            color: var(--regular-white-color);
            box-shadow: var(--button-box-shadow);
            background: var(--button-background-color);
            font-size: var(--main-footer-font-size);
            cursor: var(--regular-cursor-behaviour);

            a {
                color: var(--regular-white-color);
                text-decoration: none;
            }
        }
    }

}

@media screen and (max-width: 1534px),
(max-height: 700px) {
    div.dv-lvl-2.footer-container {
        width: var(--max-width);
        div.dv-lvl-3.corner-square-border.left,
        div.dv-lvl-3.corner-square-sign.left,
        div.dv-lvl-3.corner-square-img,
        div.dv-lvl-3.corner-square-border.top,
        div.dv-lvl-3.corner-square-sign.top {
            position: static;
            margin: 10px auto;
        }
        div.dv-lvl-3.corner-square-border.left {
            margin-top: 20px;
        }
        div.dv-lvl-3.corner-square-sign.left {
            position: relative;
            left: 6px;
        }
        div.dv-lvl-3.corner-square-border.top {
            height: 1px;
            width: 100px;
            margin-top: 35px;
        }
        div.dv-lvl-3.corner-square-sign.top {
            transform: rotate(0deg);
            position: relative;
            right: -4.5px;
            bottom: 19px;
        }
        div.dv-lvl-2.switch-section-buttons {
            position: static;
        }
    }
}