<!-- Top background container -->
<div class="dv-lvl-0 background-container gallery">

    <!-- Fix width container -->
    <div class="dv-lvl-1 main-container">

        <!-- Contact sign -->
        <div class="dv-lvl-2 contact-sign">
            <div class="dv-lvl-3 sign-index-container"><span class="sp-lvl-4 sign-index">3</span></div>
            <p class="par-lvl-3 sign-letters">CONTACT</p>
        </div>

        <!-- Contact details section -->
        <div class="dv-lvl-2 contact-container">

            <div class="dv-lvl-3 contact-square-container">

                <div class="dv-lvl-4 contact-square-one">
                    <img src="/assets/imgs/nightcity.jpg" alt="">
                </div>

                <div class="dv-lvl-4 contact-square-two">
                    <div class="dv-lvl-5 inner-square-deco"></div>
                    <div class="dv-lvl-5 main-text-container">
                        <p class="par-lvl-6 bass-title">
                            <span class="sp-lvl-7 bass-name">BASS </span>
                            <span class="sp-lvl-7 bass-surname">SEISMIC</span>
                        </p>
                        <p class="par-lvl-6 bass-profession-title">MUSICIAN</p>
                    </div>
                </div>

            </div>

            <div class="dv-lvl-3 greeting-container">
                <p class="par-lvl-4 greeting-title">Hello</p>
                <p class="par-lvl-4 greeting-message">
                    Hello, I'm Bass Seismic. I've been dedicating to music since adolescence, and been involved into music since longer. Starting firstly with punk rock genre as a reference, I turned my mind towards a wide range of styles, being one of them electronic music
                    in its whole general concept. And yes, of course, I make music ;)
                </p>
            </div>

            <div class="dv-lvl-3 contact-details-container">
                <p class="par-lvl-4 bass-address top">Gálica X / Málaga</p>
                <p class="par-lvl-4 bass-address bottom">Churriana state</p>

                <div class="dv-lvl-4 contact-details-icons">

                    <div class="dv-lvl-5 contact-detail-icon-row">
                        <div class="dv-lvl-6 contact-detail-icon-item">
                            <span class="sp-lvl-7 contact-detail-icon">
                                <i class="fas fa-comment-dots"></i>
                            </span>
                            <p class="par-lvl-7 contact-detail-item-text">+0034600600600</p>
                        </div>
                        <div class="dv-lvl-6 contact-detail-icon-item right">
                            <span class="sp-lvl-7 contact-detail-icon">
                                <i class="fab fa-instagram-square"></i>
                            </span>
                            <p class="par-lvl-7 contact-detail-item-text">instagram/bass-seismic</p>
                        </div>
                    </div>

                    <div class="dv-lvl-5 contact-detail-icon-row">
                        <div class="dv-lvl-6 contact-detail-icon-item">
                            <span class="sp-lvl-7 contact-detail-icon">
                                <i class="fas fa-globe"></i>
                            </span>
                            <p class="par-lvl-7 contact-detail-item-text">www.bass-seismic.com</p>
                        </div>
                        <div class="dv-lvl-6 contact-detail-icon-item right">
                            <span class="sp-lvl-7 contact-detail-icon">
                                <i class="fab fa-facebook-f"></i>
                            </span>
                            <p class="par-lvl-7 contact-detail-item-text">facebook/bass-seismic</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </div>

</div>