<!-- Section nav bar -->
<div class="dv-lvl-2 sections-navbar">

    <!-- Upper left corner logo -->
    <div [ngClass]="['dv-lvl-3', 'upper-left-corner-logo', currentSection | lowercase ]">
        <div [ngClass]="['dv-lvl-4', 'left-logo', currentSection | lowercase ]">BS</div>
    </div>

    <!-- Sections labels -->
    <div class="dv-lvl-3 sections-container">

        <ul class="ul-lvl-4 section-list">

            <li class="li-lvl-5 section-list-item">
                <a [routerLink]="['home']">HOME</a>
            </li>
            <li class="li-lvl-5 section-list-item">
                <a [routerLink]="['gallery']">GALLERY</a>
            </li>
            <li class="li-lvl-5 section-list-item">
                <a [routerLink]="['music']">MUSIC</a>
            </li>
            <li class="li-lvl-5 section-list-item">
                <a [routerLink]="['contact']">CONTACT</a>
            </li>

        </ul>

    </div>

    <!-- Social media -->
    <div class="dv-lvl-3 social-media-container">

        <ul class="ul-lvl-4 social-media-list">

            <li class="li-lvl-5 social-media-item">
                <i class="fab fa-twitter"></i>
            </li>
            <li class="li-lvl-5 social-media-item">
                <i class="fab fa-instagram"></i>
            </li>
            <li class="li-lvl-5 social-media-item">
                <i class="fab fa-facebook-f"></i>
            </li>

        </ul>

    </div>

</div>