:host {
    display: flex;
    justify-content: center;
    width: 100vw;
}

div.dv-lvl-2.sections-navbar {
    width: 1535px;
    /* top: 20px;
    right: 0; */
    display: flex;
    padding-top: 20px;
    justify-content: flex-end;
    margin: 0 auto;
    font-family: 'Bebas Neue', cursive;
    position: absolute;
}

div.dv-lvl-2.sections-navbar.music {
    z-index: 1;
}

div.dv-lvl-3.upper-left-corner-logo {
    width: 400px;
    height: 40px;
    border: 1px solid #fff;
    box-sizing: border-box;
    display: flex;
    position: absolute;
    top: 20px;
    left: 40px;
}

div.dv-lvl-3.upper-left-corner-logo.music {
    width: 400px;
    height: 40px;
    border: 1px solid #000;
    box-sizing: border-box;
    display: flex;
    position: absolute;
    top: 20px;
    left: 40px;
}

div.dv-lvl-3.upper-left-corner-logo.contact {
    width: 400px;
    height: 40px;
    border: 1px solid #000;
    box-sizing: border-box;
    display: flex;
    position: absolute;
    top: 20px;
    left: 40px;
}

div.dv-lvl-4.left-logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    font-size: 1.3em;
}

div.dv-lvl-4.left-logo.contact {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    font-size: 1.3em;
    color: #fff;
}

div.dv-lvl-4.left-logo.music {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    font-size: 1.3em;
    color: #fff;
}

div.dv-lvl-3.sections-container {
    width: 600px;
    color: #fff;
}

div.dv-lvl-3.sections-container.music {
    width: 600px;
    color: #000;
}

ul.ul-lvl-4.section-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

li.li-lvl-5.section-list-item {
    letter-spacing: 7px;
    font-size: .6em;
    transition: color .1s linear;
}

ul.ul-lvl-4.section-list.home li.li-lvl-5.section-list-item:hover {
    color: #797168;
}

ul.ul-lvl-4.section-list.gallery li.li-lvl-5.section-list-item:hover {
    color: #b9590a;
}

ul.ul-lvl-4.section-list.music li.li-lvl-5.section-list-item:hover {
    color: #797168;
}

ul.ul-lvl-4.section-list.contact li.li-lvl-5.section-list-item:hover {
    color: #d70127;
}

li.li-lvl-5.section-list-item a {
    color: inherit;
    text-decoration: none;
}

div.dv-lvl-3.social-media-container {
    width: 200px;
    color: #fff;
}

div.dv-lvl-3.social-media-container.music {
    width: 200px;
    color: #000;
}

ul.ul-lvl-4.social-media-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: .7em;
}

li.li-lvl-5.social-media-item {
    font-size: 1em;
    margin: 0 20px;
    transition: color .1s linear;
    cursor: pointer;
}

ul.ul-lvl-4.social-media-list.home li.li-lvl-5.social-media-item:hover {
    color: #797168;
}

ul.ul-lvl-4.social-media-list.gallery li.li-lvl-5.social-media-item:hover {
    color: #b9590a;
}

ul.ul-lvl-4.social-media-list.music li.li-lvl-5.social-media-item:hover {
    color: #797168;
}

ul.ul-lvl-4.social-media-list.contact li.li-lvl-5.social-media-item:hover {
    color: #d70127;
}

@media screen and (max-width: 1534px),
(max-height: 700px) {
    div.dv-lvl-2.sections-navbar {
        width: 100%;
    }
    div.dv-lvl-3.upper-left-corner-logo,
    div.dv-lvl-3.upper-left-corner-logo.contact,
    div.dv-lvl-3.upper-left-corner-logo.music {
        position: static;
        margin: 20px auto;
    }
    div.dv-lvl-2.sections-navbar {
        /* position: static; */
        flex-flow: column;
        margin: 0 auto;
        z-index: 1;
    }
    div.dv-lvl-3.sections-container,
    div.dv-lvl-3.sections-container.music {
        position: static;
        margin: 0 auto;
        width: 100%;
    }
    ul.ul-lvl-4.section-list {
        flex-flow: column;
        text-align: center;
        padding-inline-start: 0;
    }
    li.li-lvl-5.section-list-item {
        margin: 10px;
        padding-left: 7px;
    }
    div.dv-lvl-3.social-media-container {
        margin: 0 auto;
    }
    ul.ul-lvl-4.social-media-list {
        flex-flow: column;
        justify-content: center;
    }
    li.li-lvl-5.social-media-item {
        margin: 10px auto;
    }
}

@media screen and (max-width: 476px) {
    div.dv-lvl-3.upper-left-corner-logo,
    div.dv-lvl-3.upper-left-corner-logo.contact,
    div.dv-lvl-3.upper-left-corner-logo.music {
        width: 80%;
    }
}