@use 'src/styles.scss';
:host {
    --navbar-z-index: 3;
    --on-home-sections-hover: #797168;
    --on-gallery-sections-hover: #b9590a;
    --on-music-sections-hover: #797168;
    --on-contact-sections-hover: #d70127;
    --centered-margin-on-responsive: 20px auto;
    --list-item-margin-on-responsive: 10px;
    --list-item-padding-left-on-responsive: 7px;
    --social-media-margin-on-responsive: 10px auto;
    --logo-width-on-responsive: 80%;
    --main-navbar-font-size: 1.3em;
    --social-item-font-size: .6em;
    --navbar-flex-flow-on-responsive: column;
}

:host {
    @include styles.flex-center-only-justify();
    width: var(--max-viewport-width);
    min-width: var(--min-overall-width);
    min-width: var(--min-overall-width);
}

div.dv-lvl-2.sections-navbar {
    @include styles.flex-end-only-justify();
    position: absolute;
    padding-top: 20px;
    width: var(--fixed-overall-width);
    min-width: var(--min-overall-width);
    margin: var(--centered-margin-zero-vertical);
    font-family: var(--main-font-family);
    z-index: var(--navbar-z-index);
    div.dv-lvl-3.upper-left-corner-logo {
        @include styles.flex-only();
        position: absolute;
        top: 20px;
        left: 40px;
        width: 400px;
        height: 40px;
        border: var(--regular-border-white);
        box-sizing: var(--regular-box-sizing);
        div.dv-lvl-4.left-logo {
            @include styles.flex-center-justify-and-align();
            width: 20%;
            background: var(--regular-white-background);
            font-size: var(--main-navbar-font-size);
        }
    }
    div.dv-lvl-3.upper-left-corner-logo.music {
        @include styles.flex-only();
        position: absolute;
        top: 20px;
        left: 40px;
        width: 400px;
        height: 40px;
        border: var(--regular-border-black);
        box-sizing: var(--regular-box-sizing);
        div.dv-lvl-4.left-logo.music {
            @include styles.flex-center-justify-and-align();
            width: 20%;
            background: var(--regular-black-background);
            font-size: var(--main-navbar-font-size);
            color: var(--regular-white-color);
        }
    }
    div.dv-lvl-3.upper-left-corner-logo.contact {
        @include styles.flex-only();
        position: absolute;
        top: 20px;
        left: 40px;
        width: 400px;
        height: 40px;
        border: var(--regular-border-black);
        box-sizing: var(--regular-box-sizing);
        div.dv-lvl-4.left-logo.contact {
            @include styles.flex-center-justify-and-align();
            width: 20%;
            background: var(--regular-black-background);
            font-size: var(--main-navbar-font-size);
            color: var(--regular-white-color);
        }
    }
    div.dv-lvl-3.sections-container {
        width: 600px;
        color: var(--regular-white-color);
        ul.ul-lvl-4.section-list {
            @include styles.flex-space-around-only-justify();
            list-style-type: none;
            li.li-lvl-5.section-list-item {
                letter-spacing: 7px;
                font-size: .6em;
                transition: color .1s linear;
                a {
                    color: inherit;
                    text-decoration: none;
                }
            }
        }
        ul.ul-lvl-4.section-list.home {
            li.li-lvl-5.section-list-item {
                &:hover {
                    color: var(--on-home-sections-hover);
                }
            }
        }
        ul.ul-lvl-4.section-list.gallery {
            li.li-lvl-5.section-list-item {
                &:hover {
                    color: var(--on-gallery-sections-hover);
                }
            }
        }
        ul.ul-lvl-4.section-list.music {
            li.li-lvl-5.section-list-item {
                &:hover {
                    color: var(--on-music-sections-hover);
                }
            }
        }
        ul.ul-lvl-4.section-list.contact {
            li.li-lvl-5.section-list-item {
                &:hover {
                    color: var(--on-contact-sections-hover);
                }
            }
        }
    }
    div.dv-lvl-3.sections-container.music {
        width: 600px;
        color: var(--regular-black-color);
    }
    div.dv-lvl-3.social-media-container {
        width: 200px;
        color: var(--regular-white-color);
        ul.ul-lvl-4.social-media-list {
            @include styles.flex-justify-start-align-center();
            list-style-type: none;
            padding-inline-start: 0;
            margin-block-start: .7em;
            li.li-lvl-5.social-media-item {
                font-size: 1em;
                margin: 0 20px;
                transition: color .1s linear;
                cursor: var(--regular-cursor-behaviour);
            }
        }
        ul.ul-lvl-4.social-media-list.home {
            li.li-lvl-5.social-media-item {
                &:hover {
                    color: var(--on-home-sections-hover);
                }
            }
        }
        ul.ul-lvl-4.social-media-list.gallery {
            li.li-lvl-5.social-media-item {
                &:hover {
                    color: var(--on-gallery-sections-hover);
                }
            }
        }
        ul.ul-lvl-4.social-media-list.music {
            li.li-lvl-5.social-media-item {
                &:hover {
                    color: var(--on-music-sections-hover);
                }
            }
        }
        ul.ul-lvl-4.social-media-list.contact {
            li.li-lvl-5.social-media-item {
                &:hover {
                    color: var(--on-contact-sections-hover);
                }
            }
        }
    }
    div.dv-lvl-3.social-media-container.music {
        width: 200px;
        color: var(--regular-black-color);
    }
}

@media screen and (max-width: 1534px),
(max-height: 700px) {
    div.dv-lvl-2.sections-navbar {
        width: var(--max-width);
        flex-flow: var(--navbar-flex-flow-on-responsive);
        margin: var(--centered-margin-zero-vertical);
        z-index: var(--navbar-z-index);
        div.dv-lvl-3.upper-left-corner-logo,
        div.dv-lvl-3.upper-left-corner-logo.contact,
        div.dv-lvl-3.upper-left-corner-logo.music {
            position: static;
            margin: var(--centered-margin-on-responsive);
        }
        div.dv-lvl-3.sections-container,
        div.dv-lvl-3.sections-container.music {
            position: static;
            margin: var(--centered-margin-zero-vertical);
            width: var(--max-width);
            ul.ul-lvl-4.section-list {
                flex-flow: var(--navbar-flex-flow-on-responsive);
                text-align: var(--regular-text-align);
                padding-inline-start: 0;
                li.li-lvl-5.section-list-item {
                    margin: 10px;
                    padding-left: 7px;
                }
            }
        }
        div.dv-lvl-3.social-media-container {
            margin: var(--centered-margin-zero-vertical);
            ul.ul-lvl-4.social-media-list {
                flex-flow: var(--navbar-flex-flow-on-responsive);
                justify-content: center;
                li.li-lvl-5.social-media-item {
                    margin: var(--social-media-margin-on-responsive);
                }
            }
        }
    }
    div.dv-lvl-2.sections-navbar.music {
        flex-flow: var(--navbar-flex-flow-on-responsive);
        margin: var(--centered-margin-zero-vertical);
        z-index: var(--navbar-z-index);
    }
}

@media screen and (max-width: 476px) {
    div.dv-lvl-2.sections-navbar {
        div.dv-lvl-3.upper-left-corner-logo,
        div.dv-lvl-3.upper-left-corner-logo.contact,
        div.dv-lvl-3.upper-left-corner-logo.music {
            width: var(--logo-width-on-responsive);
        }
    }
}
