<!-- Footer container -->
<div [ngClass]="['dv-lvl-2', 'footer-container', currentSection | lowercase ]">

    <!-- Bass decoration -->
    <div class="dv-lvl-2 bass-sign-container">
        <div class="dv-lvl-4 bass-sign-border"></div>
        <p class="par-lvl-3 bass-letters">BASS</p>
    </div>

    <!-- Switch section buttons -->
    <div [ngClass]="['dv-lvl-2', 'switch-section-buttons', currentSection | lowercase ]">

        <div class="dv-lvl-3 button-left">
            <a [routerLink]="[ previousPage ]">
                <i class="fas fa-chevron-left"></i>
            </a>
        </div>
        <div class="dv-lvl-3 button-right">
            <a [routerLink]="[ nextPage ]">
                <i class="fas fa-chevron-right"></i>
            </a>
        </div>

    </div>

    <!-- Bass seismic -->
    <div class="dv-lvl-2 seismic-sign-container">
        <div class="dv-lvl-4 seismic-sign-border"></div>
        <p class="par-lvl-3 seismic-letters">SEISMIC</p>
    </div>

</div>